body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #E7E5FF;
    color:black;
    margin: 0;
    padding: 0;
}
.todolist{
    background-color:#E7E5FF;
    color: #7063f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}